@model BookReviewer.Models.DbModels.Publisher

@{
    ViewBag.Title = "Create Publisher";
}

<div class="row justify-content-center">
    @using (Html.BeginForm("Create", "Publishers", FormMethod.Post, htmlAttributes: new { @class = "col-lg-6 col-md-8 col-11 border border-primary border-2 rounded-2 p-4" }))
    {
        @Html.AntiForgeryToken()
        <h2 class="text-center mb-5">Create a New Publisher</h2>

        <!-- first name -->
        <div class="form-group mb-4">
            @Html.LabelFor(m => m.Name, htmlAttributes: new { @class = "form-label" })
            @Html.EditorFor(m => m.Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
        </div>

        <!-- last name -->
        <div class="form-group mb-4">
            @Html.LabelFor(m => m.Location, htmlAttributes: new { @class = "form-label" })
            @Html.EditorFor(m => m.Location, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(m => m.Location, "", new { @class = "text-danger" })
        </div>

        <button class="btn btn-primary w-100">Submit</button>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
